<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Таблица расходов</title>

<style>
.center {
  margin: auto;
  width: 1280px;
  background: gray;
  padding: 0px;
  text-align: center;
  font-size:16px;
}
body {
	background: #ffffff;
	color: #111111;
	font-family: Helvetica;
	padding: 20px;
	font-size: 16px
	position: relative;
    margin-left: auto;
    margin-right: auto;
}
</style>
    <!-- {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style-mac.css' %}" type="text/css"> -->

</head>
<body>
<!-- Шапка -->
    <p class="center">
        <a href="http://127.0.0.1:8000">Вернуться на главную страницу</a>
    </p>
<!-- Основной вывод списка покупок -->
<table class="center">
    <caption class="body">Таблица расходов:</caption>
  <colgroup>
    <col span="3" style="background:Khaki">
    <col style="background-color:LightCyan"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
  </colgroup>
    <thead>
        <tr>
            <th>Дата покупки</th>
            <th>Категория</th>
            <th>Наименование товара</th>
            <th>Сумма в рублях</th>
        </tr>
    </thead>
    {% for spend in object_list %}
    <tr>
	    <th>{{ spend.created_date }}</th>
        <th>{{ spend.category }}</th>
        <th>{{ spend.name }}</th>
        <th>{{ spend.amount }}</th>
    </tr>
    {% endfor %}
</table>
</body>
<!-- Подвал Footer -->
<h4 class="center">HomebrewDev (c) Егор Девятов 2020 г.</h4>

</html>